@model IEnumerable<Examen1.Model.Apartamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista completa de Apartamentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="Apartamento" asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="nombre" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDePiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPorMes)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
                <td>
                    @Html.DisplayFor(model => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumeroDePiso)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PrecioPorMes)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
